:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.roboto {
  font-family: 'Roboto';
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif !important;
  letter-spacing: 1px;
}

/* .list-parent .active {
  color: #0072E5;
  background-color: #F0F7FF;
} */

a {
  text-decoration: none;
  color: #2c58a8;
}

a:hover {
  text-decoration: underline;
}

a.active {
  background-color: #e4eaf4;
}

a.active:hover {
  background-color: #e4eaf4;
}

.main-content {
  height: 100%;
}

pre, code{
  white-space:normal;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}

.opacity-3 {
  opacity: 0.3;
}

.scrollbar-stable {
  scrollbar-gutter: stable;
}